

.sides { display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left; 

}

.player-info { display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
    justify-content: left;
    border: 0px solid grey;
    background-color: rgb(238, 235, 235);

}

.serve-info {
    display: grid;
    
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 0.9rem;
}

.serve-info > div {
    padding: 5px;
    border: 0px solid red;
}

form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .close {
    position: relative;
    // right: 32px;
    // top: 32px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .notes {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
    margin: 1rem;
    color: #294696;
  }
  
  .pre-config-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    
}


  .config-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     
    

      align-items: center;
justify-content: center;
      
  }

  .pop {
   
   
    margin: 0.6rem;
  }
   

  .header-label{
      display: grid;
      grid-template-columns: 1fr;
      text-align: right;
  }

  .stripe-1 {
    color: white;
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
  }

  .whiteshade {
      color: whitesmoke;
  }

  .settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    font-size: 1rem;
    color: rgb(56, 56, 56);
    align-self: center;
    text-align: left;
  }

  .right {
    font-size: 1rem;
    color: rgb(161, 161, 161);
  }

  .bottom {
    grid-column: 1/-1;
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
    text-align: left;
  }

  .wrapper {
    display: grid;
    background-color: rgb(238, 235, 235);
    
    height: calc(100vh - 44px);
  }

  .points-label {
    font-size: 1rem;
    color: rgb(114, 110, 110);

  }


  .mini-labels {
    font-size: 0.9rem;
    color: rgb(114, 110, 110);
  }